.DS_Store
build/
DerivedData/
*.xccheckout
*.xcuserstate
xcuserdata/
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
Pods/
*.ipa
*.dSYM
fastlane/report.xml
fastlane/test_output
*.log
*.tmp
~$*
.swiftpm/
.xcodegen/

